<app-program-header />
<div class="w-full">
  <div class="container py-4">
    <div class="mt-2 flex justify-between">
      <div>
        <h1 class="text-2xl">Payment 01/04/2024</h1>
        <small class="text-xs text-grey-500"
          >Last updated: 12:34, 31/08/23</small
        >
      </div>
      <p-button label="Approve Payment" rounded (onClick)="approvePayment()" />
    </div>
    <h2 class="mb-4 mt-8 text-xl">Payment Monitoring</h2>
    <div class="flex w-full items-stretch gap-4">
      <div class="w-1/2">
        <p-card header="Payment data" styleClass="h-full">
          <div class="mb-4 w-full">
            <div class="inline-block w-1/2">
              <p>Total payment amount</p>
              <p class="text-2xl font-bold">5,084</p>
            </div>
            <div class="inline-block w-1/2 pl-4">
              <p>Included participants:</p>
              <p class="text-2xl font-bold">$ 159,566</p>
            </div>
          </div>
          <div class="h-80 w-full">
            <app-payment-details-chart
              [paymentDetails]="{
                pending: 472,
                sent: 200,
                failed: 20,
                successful: 560,
              }"
            />
          </div>
        </p-card>
      </div>
      <div class="w-1/2">
        <p-card header="Payment log" styleClass="h-full">
          <div class="h-96">
            <app-activity-log [activity]="paymentHistory" />
          </div>
        </p-card>
      </div>
    </div>
    <h2 class="mb-4 mt-8 text-xl">Participant list</h2>
    <app-people-affected-table
      [peopleAffected]="peopleAffected()"
      [totalRecords]="totalRecords()"
      [columns]="peopleAffectedTableColumns"
      [loading]="loading()"
      (onFilterChange)="loadPeopleAffected($event)"
    />
  </div>
</div>
