<app-program-header />
<div class="w-full">
  <div class="container mx-auto py-4">
    <div class="flex items-stretch">
      <p-selectButton
        [options]="paymentStatuses"
        [(ngModel)]="selectedPaymentStatus"
        optionLabel="label"
        optionValue="value"
      />

      <div class="ml-auto flex gap-2">
        <p-button
          (click)="downloadPanel.toggle($event)"
          label="Download"
          icon="pi pi-chevron-down"
          iconPos="right"
          rounded
          severity="secondary"
          outlined
        />
        <p-overlayPanel #downloadPanel styleClass="[&>*]:p-0">
          <p-menu [model]="downloadOptions" />
        </p-overlayPanel>

        <p-splitButton
          rounded
          severity="primary"
          label="Create new payment"
          (onClick)="modalVisible = true"
          [model]="customCreatePaymentOptions"
        />
        <p-dialog
          header="Demo Modal"
          [modal]="true"
          [(visible)]="modalVisible"
          [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        >
          <p class="mb-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p class="mb-5">
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
            qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
            nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
            aliquid ex ea commodi consequatur? Quis autem vel eum iure
            reprehenderit qui in ea voluptate velit esse quam nihil molestiae
            consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
            pariatur?
          </p>
          <p class="mb-5">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio. Nam libero tempore, cum soluta nobis est
            eligendi optio cumque nihil impedit quo minus id quod maxime placeat
            facere possimus, omnis voluptas assumenda est, omnis dolor
            repellendus. Temporibus autem quibusdam et aut officiis debitis aut
            rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint
            et molestiae non recusandae. Itaque earum rerum hic tenetur a
            sapiente delectus, ut aut reiciendis voluptatibus maiores alias
            consequatur aut perferendis doloribus asperiores repellat.
          </p>
          <p class="mb-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p class="mb-5">
            "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
            qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
            nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
            aliquid ex ea commodi consequatur? Quis autem vel eum iure
            reprehenderit qui in ea voluptate velit esse quam nihil molestiae
            consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
            pariatur?
          </p>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio. Nam libero tempore, cum soluta nobis est
            eligendi optio cumque nihil impedit quo minus id quod maxime placeat
            facere possimus, omnis voluptas assumenda est, omnis dolor
            repellendus. Temporibus autem quibusdam et aut officiis debitis aut
            rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint
            et molestiae non recusandae. Itaque earum rerum hic tenetur a
            sapiente delectus, ut aut reiciendis voluptatibus maiores alias
            consequatur aut perferendis doloribus asperiores repellat.
          </p>
        </p-dialog>
      </div>
    </div>

    <div class="mt-4 flex w-full flex-row gap-4">
      <p-iconField iconPosition="left" class="w-1/2 [&_input]:w-full">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search..." />
      </p-iconField>
      <p-dropdown
        [options]="sortOptions"
        [(ngModel)]="selectedSortOption"
        optionLabel="name"
        placeholder="Sort By..."
        class="w-1/2 [&>*]:w-full"
      />
    </div>

    <div class="mt-4 grid grid-cols-3 gap-4">
      @for (payment of payments; track $index) {
        <p-card>
          <div class="p-card-title flex items-center justify-between">
            <a routerLink="/payments/123" class="hover:underline">
              <h2>Payment {{ payment.creationDate.toLocaleDateString() }}</h2>
            </a>
            <p-button
              text
              plain
              icon="pi pi-ellipsis-h"
              (click)="paymentOptionsMenu.toggle($event)"
            />
          </div>
          <div class="w-full border-t border-grey-100">
            <div class="inline-block w-1/2 py-4">
              <p class="text-2xl font-bold">{{ payment.participants }}</p>
              <p>Included participants</p>
            </div>
            <div class="inline-block w-1/2 border-l border-grey-100 py-4 pl-4">
              <p class="text-2xl font-bold">{{ payment.totalPaymentAmount }}</p>
              <p>Total payment amount</p>
            </div>
          </div>
          <div class="w-full border-b border-t border-grey-100">
            <div class="inline-block w-1/2 py-4">
              <p class="text-2xl font-bold">
                {{
                  payment.successfulTransfers > 0
                    ? payment.successfulTransfers
                    : "-"
                }}
              </p>
              <p>Included participants</p>
            </div>
            <div class="inline-block w-1/2 border-l border-grey-100 py-4 pl-4">
              <p class="text-2xl font-bold">
                {{
                  payment.failedTransfers > 0 ? payment.failedTransfers : "-"
                }}
                @if (payment.failedTransfers > 0) {
                  <i
                    class="pi pi-exclamation-triangle text-2xl text-red-500"
                    pTooltip="Whoopsie Doopsie!"
                  ></i>
                }
              </p>
              <p>Failed Transfers</p>
            </div>
          </div>
          <ng-template pTemplate="footer">
            <p-tag
              [value]="payment.status"
              rounded
              [severity]="
                payment.status === 'Completed'
                  ? 'success'
                  : payment.status === 'Payment in Progress'
                    ? 'info'
                    : 'warning'
              "
            />
          </ng-template>
        </p-card>
      }
    </div>
    <p-menu
      [model]="paymentOptions"
      #paymentOptionsMenu
      popup
      appendTo="body"
    />

    <div class="mt-8 flex w-full items-center">
      <span>{{ payments.length }} payments</span>
      <p-paginator
        class="mx-auto"
        (onPageChange)="
          showToast({ message: 'Page changed', severity: 'info' })
        "
        [first]="0"
        [rows]="10"
        [totalRecords]="120"
        [rowsPerPageOptions]="[10, 20, 30]"
      />
    </div>
  </div>
</div>
<p-toast />
